/* some style */
/* COLORS
*/
:root {
  --light-cyan: #CBF3F0;
  --cyan: #2EC4B6;
  --light-orange: #FFD192;
  --orange: #FF9F1C;
  --grey: #C9C9C9;
}
.row {
  padding: 16px;
}
body {
  font-weight:bold;
  background: #fff;
  font-weight: bold;
}
#root, #app {
  height: 100vh;
  width: 100vw;
}
.win {
  background-image: url('/assets/win.gif');
}
.form-item {
  padding: 10px;
  text-align: center;
  border: 10px solid;
  color: var(--light-cyan);
  font-size: 30px;
  border-radius: 16px;
  min-height: 200px;
  font-size: 60px;
  line-height: 100px;
  background:  var(--cyan);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.open {
  background: #fff;
  border: 5px dashed #efefef;
}
.drag-bucket {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.container {
    width: 80vw;
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.face {
  display:flex;
  clear:both;
  vertical-align: center;
  align-items: center;
  justify-content: center;
}
.normal,
.happy,
.sad {
  width: 100%;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.sad {
  background-image:url('/assets/sad.svg');
  margin-bottom: 8px;
}
.happy {
  background-image:url('/assets/happy.svg');
}
.normal {
  background-image:url('/assets/normal.svg');
}

.eye {
  width: 15px;
  height: 15px;
  margin: 10px;
  border-radius: 100%;
  overflow: hidden;
  background: #000;
}

.pool-item {
  height: 150px;
  color: var(--light-orange);
  background: var(--orange);
  font-size: 60px;
  border: 3px solid;
  border-radius: 16px;
  text-align:center;
}
.pool-item .smile {
  height: 20px;
  border: solid 5px #000;
  border-color: #000 transparent transparent transparent;
}

.message {
  margin: 30px;
  font-size: 60px;
  text-align: center;
}

.is-target {
  background: red;
}

.is-hover {
  background: yellow;
}

.is-dropped {

}

.is-dragging {
  color: red;
}