/* some style */
/* COLORS
*/
:root {
  --light-cyan: #CBF3F0;
  --cyan: #2EC4B6;
  --light-orange: #FFD192;
  --orange: #FF9F1C;
  --grey: #C9C9C9;
}
.row {
  padding: 16px;
}
body {
  font-weight:bold;
  background: #fff;
  font-weight: bold;
}
.form-item {
  padding: 10px;
  text-align: center;
  border: 10px solid;
  color: var(--light-cyan);
  font-size: 30px;
  border-radius: 16px;
  min-height: 200px;
  font-size: 60px;
  line-height: 100px;
  background:  var(--cyan);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.open {
  background: #fff;
  border: 5px dashed #efefef;
}
.drag-bucket {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.container {
    width: 80vw;
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.face {
  display:flex;
  clear:both;
  vertical-align: center;
  align-items: center;
  justify-content: center;
}
.meh,
.smile,
.frown {
  width: 50%;
  height: 25px;
  border: solid 6px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 100%/200% 200% 0 0;
}
.smile { transform: rotate(180deg) }
.meh { border-radius: 0px 0px 0px; height: 10px; margin-top: 5px;}

.eye {
  width: 15px;
  height: 15px;
  margin: 10px;
  border-radius: 100%;
  overflow: hidden;
  background: #000;
}

.pool-item {
  height: 150px;
  color: var(--light-orange);
  background: var(--orange);
  font-size: 60px;
  border: 3px solid;
  border-radius: 16px;
  text-align:center;
}
.pool-item .smile {
  height: 20px;
  border: solid 5px #000;
  border-color: #000 transparent transparent transparent;
}

.is-target {
  background: red;
}

.is-hover {
  background: yellow;
}

.is-dropped {

}

.is-dragging {
  color: red;
}